*{
margin: 0;
padding: 0;
background-position: center;
font-family: 'Padauk', sans-serif;
}
html{
	scroll-behavior: smooth;
}
#services{
	width: 100%;
	padding: 100px 0;
	background: #000;

}
.services-box{
	width: 80%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin: auto;
}
.single-services{
	flex-basis: 48%;
	text-align: center;
	border-radius: 7px;
	margin-bottom: 20px;
	color: #fff;
	position: relative;
}
.single-services img{
	width: 100%;
	border-radius: 7px; 
}